<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @section.date %>
</p>

<p>
  <b>Time:</b>
  <%= @section.time %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
