<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @testimonial.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @testimonial.comment %>
</p>


<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
