<!DOCTYPE html>
<html>
<head>
  <title>MindPeel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

      <header>
        <h4 class="logo">Mindpeel</h4>
        <!-- <ul class="header_tabs">
          <li><a href="#">Join</a></li>
          <li><a href="#">Sign up</a></li>
        </ul> -->
          <ul class="header_tabs">
    <% if user_signed_in? %>
      <li><strong>Welcome back <%= current_user.first_name %></strong></li>
       <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <li> <%= link_to 'Edit profile', edit_user_registration_path %> |</li>

    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %> |</li>
      <li><%= link_to "Log in", new_user_session_path %></li>
      <li><%= link_to "Log in with facebook", user_omniauth_authorize_path(:facebook) %></li>
    <% end %>
  </ul>
  <div class="container">
      <div class="clear"></div>
      </header>
        <div class="wrap">

          <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

<%= yield %>
        </div>
    <footer>

        <!-- <div class="copyright"> &copy; Mind Peel</div> -->
        <ul class="footer_tabs">
          <li><a href="#">&copy; Mind Peel</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
        <div class="clear"></div>
    </footer>


</body>
</html>
