<!DOCTYPE html>
<html>
<head>
  <title>MindPeel</title>
  <link rel="stylesheet" href="homepage.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
      <div class="header">
        <div class="header_content">
<<<<<<< HEAD
          <!-- <div class="logo">MindPeel</div> -->
          <%= link_to "MindPeel", root_url, :class => 'logo' %>

          <div class="nav_header">
          <div id="sub_nav"><%= link_to (image_tag("learn.svg", :width => '75')), 'learn' %></div>
            <div id="sub_nav"><%= link_to (image_tag("teach.svg", :width => '75')), 'teach' %></div>
            </div>
            
          <div class="user_buttons"> 
=======
          <div class="logo">MindPeel</div>
          <div class="nav_header"></div>
          <div class="user_buttons">
>>>>>>> ea667880172b594a29a1526ff746a49df9796883
            <% if user_signed_in? %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'button' %>
              <%= button_to 'Edit profile', edit_user_registration_path, :class => 'button' %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'button' %>
              <%= button_to "Log in", new_user_session_path, :class => 'button' %>
              <%= button_to "Log in with facebook", user_omniauth_authorize_path(:facebook), :class => 'button' %>
          <% end %>
          </div>
        </div>
      </div>
  <div class="clear"></div>
      </header>
<<<<<<< HEAD
<div class="content">
<%= yield %>
</div>        
    <footer>
        
=======

<div class="content"><%= yield %></div>

<footer>

>>>>>>> ea667880172b594a29a1526ff746a49df9796883
        <!-- <div class="copyright"> &copy; Mind Peel</div> -->
        <ul class="footer_tabs">
          <li><a href="#">&copy; Mind Peel</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
        <div class="clear"></div>
    </footer>
    </div>
</body>
</html>
